*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.title{
    padding-top: 2%;
}
.base{
    display: flex;
    flex-direction:row;
    background-color: bisque;
}
.painel{
    display: flex;
    flex-direction: column;
}
.quadro{
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}